.about {
    gap: 1rem;
    text-align: center;
    width: 100%;
    max-width: var(--column-width);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tags {
    margin-top: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

a.logo {
    margin-bottom: 1rem;
    text-decoration: none;
}
