.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75rem;
    color: var(--color-text);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}

.icon img,
.icon svg {
    width: 2.5rem;
    height: 2.5rem;
}

.name {
    font-size: var(--font-size-l2);
    font-weight: 600;
}
