.tag {
    display: inline-block;
    width: fit-content;
    padding: 0.4rem 0.6rem;
    white-space: nowrap;
    border-radius: var(--border-radius);
    background: var(--color-surface);
    border: 1px solid var(--color-border);
    color: var(--color-muted);
    font-size: var(--font-size-s2);
    line-height: 1;
    font-family: var(--font-mono);
}

.span {
    padding: 0.5em 1em;
    white-space: unset;
}
